<!DOCTYPE html>
<html>
 <body>
<div class="center jumbotron">
  <h1>Welcome to Flipper</h1>

  <h2>
    <a href="/">Flipper</a> doesn't really do too much, but knock yourself out.
  </h2>

  <%= link_to "All aboard the sign up train!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!-- add image -->
<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
</body>
</html>

